table {
  margin: 0 auto;
  border-collapse: collapse;
  th, td {
    padding: 0.25em 1em;
    border: 1px solid #333;
  }
  th {
    background: #333;
    color: white;
    text-align: center;
  }
  td {
    text-align: left;
    &.left {
      text-align: left;
    }
    &.center {
      text-align: center;
    }
  }
}
